/* 下方时间轴控件的年月日时间字体颜色 */
.mars3d-clockAnimate{
  color: white;
}

/* 按div去放置图片的点位的样式 */
.inspection-class {
  text-align: center;
  margin: 0;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-height: 130px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;

  width: 30px;
  height: 64px;
  background-image: url(@/assets/img/point1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.inspection-item {
  position: absolute;
  top: -21%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.inspection-item>div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 4px 8px;
  width: 80px;
  height: auto;
  background: rgba(17, 17, 17, 0.5);
  font-family: MiSans-Regular;
  color: rgba(255, 255, 255, 0.85);
  font-size: 10px;
  margin-top: 3px;
  padding: 1.5px 1px;
}

/* 隐藏 Animation 控件的边框 */
.cesium-animation-container {
  border: none !important;
}

/* 点位div样式 */
.point-div {
  position: relative;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  border: 1px solid red;
  height: auto;
  width: auto;
  cursor: pointer;
}
.point-icon{
  width: 30px;
  height: 64px;
  background-image: url(@/assets/img/point1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.point-name{
  font-size: 14px;
  font-weight: bold;
  color: #fff;

  text-align: center;
  transform: translateX(-50%);
  font: 12px sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}